[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=background_remover_bria
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Background Remover BriaAI
Comment=Remove background using BriaAI API